@font-face {
  font-family: 'Geist';
  src: url('./assets/font/Geist-1.3.0/statics-ttf/Geist-UltraLight.ttf') format('truetype');
}

body{
  margin:0;
  padding:0;
  font-family: 'Geist';
}


header{
  background-color: #666;
  color: #fff;
  width: 100%;
  height: 10vh;
  font-family: 'Geist';

}

footer{
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 10vh;
  font-family: 'Geist';
}

nav{
  background-color: #000;
  color: #fff;
  display: flex;
  margin: 0px;
  padding: 10px;
  font-family: 'Geist';
}



.active{
  color:#fff;
}

.isActive{
  color:#fff;
}

main{
  display: flex;
  width: 100%;
  height: 80vh;
  margin: 0;
  background-color: #000;
  color:#fff;
  display: grid;
  font-family: 'Geist';
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Geist';
}

input{
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Geist';
  color: #000;
}



